Repository cage-challenge/cage-challenge-4, pull requests merged in 2024-03, with the labels that each got.

#10 Requested Documentation Changes
  CybORG/Agents/Wrappers/BlueFixedActionWrapper.py
  README.md
  Requirements.txt
  documentation/docs/index.md
  documentation/docs/pages/README.md
  documentation/docs/pages/challenge_details.md
  documentation/docs/pages/how-to-guides.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_apache.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_femitter.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_haraka_smpt.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_smss.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_sshd.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_svchost.md
  documentation/docs/pages/reference/actions/blue_actions/decoy/decoy_tomcat.md
  documentation/docs/pages/reference/reference.md
  documentation/docs/pages/reference/wrappers/TrueStateWrapper.md
  documentation/docs/pages/reference/wrappers/VisualiseRedExpansion.md
  documentation/docs/pages/tutorials/01_Getting_Started/1_Introduction.md
  documentation/docs/pages/tutorials/01_Getting_Started/2_Getting_Started.md
  documentation/docs/pages/tutorials/01_Getting_Started/3_Training_Agents.md
  documentation/docs/pages/tutorials/02_Looking_Around/2_Agents.md
  documentation/docs/pages/tutorials/02_Looking_Around/3_Wrappers.md
  documentation/docs/pages/tutorials/02_Looking_Around/4_Visualisation.md
  documentation/docs/pages/tutorials/02_Looking_Around/5_Debugging_Tools.md
  documentation/docs/pages/tutorials/03_Actions.md
  documentation/docs/pages/tutorials/03_Actions/A_Understanding_Actions/1_Action_Space.md
  documentation/docs/pages/tutorials/03_Actions/B_Blue_Actions/4_Remove.md
  documentation/docs/pages/tutorials/03_Actions/C_Red_Actions/6_Degrade_Services.md
  documentation/docs/pages/tutorials/03_Actions/C_Red_Actions/7_Impact.md
  documentation/docs/pages/tutorials/03_Actions/C_Red_Actions/8_Withdraw.md
Labels: documentation

#21 Updated comms policy handling in observation to match documentation
  CybORG/Agents/Wrappers/BlueFlatWrapper.py
  CybORG/Simulator/Scenarios/EnterpriseScenarioGenerator.py
  CybORG/Tests/test_cc4/test_BlueEnterpriseWrapper.py
Labels: bug, documentation

#20 Fix Allow/Block Traffic Zone in `BlueFixedActionWrapper` and block status in observation from `BlueFlatWrapper`
  CybORG/Agents/Wrappers/BlueFixedActionWrapper.py
  CybORG/Agents/Wrappers/BlueFlatWrapper.py
  CybORG/Tests/test_cc4/test_BlueEnterpriseWrapper.py
Labels: bug

#22 Inserted Sleep action link. Modified evaluation.py file.
  CybORG/Evaluation/evaluation.py
  documentation/docs/pages/reference/agents/red_overview.md
Labels: bug, documentation
